.article{
    margin: 10px auto;
    width: 85%;
    height: 45vh;
    overflow: hidden;
    border-radius: $border-radius-primaire;
    background-color: rgb(14, 14, 14);
    box-shadow: 0px 0px 10px rgb(75, 75, 75);
    a{
        width: 100%;
        height: 100%;
        
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.60;
            z-index: 1;
        }
    }
    .the-content{
        color: $couleur-cover-article-mobile;
        position:relative;
        top: -30vh;

        width: 90%;
        margin: 0px auto;
        & div:first-of-type{
            width: fit-content;
            text-align: center;
            padding: 3px 10px;
            border-radius: $border-radius-secondaire;
        }
        //differentes categories
        .GRAND-MONTRÉAL{
            background-color: $couleur-montreal;
        }
        .POLITIQUE{
            background-color: $couleur-politique;
        }
        .AFFAIRES{
            background-color: $couleur-affaires;
        }
        .ARTS{
            background-color: $couleur-arts;
        }
        .SPORTS{
            background-color: $couleur-sports;
        }
        .INTERNATIONAL{
            background-color: $couleur-international;
        }
        .ENVIRONNEMENT{
            background-color: $couleur-environnement;
        }
        .SANTÉ{
            background-color: $couleur-sante;
        }
        .CHRONIQUES{
            background-color: $couleur-chronique;
        }
        // fin des categories
        h2{
            margin-bottom: 0px;
            padding-bottom: 10px;
        }
        a{
            text-decoration: none;
            color: $couleur-cover-article-mobile;
        }
        .extrait{
            display: none;
        }
        .temps{
            color: $couleur-micro-info;
        }
    }
}