
h1{
    width: 85%;
    margin: 0px auto;
    font-size: clamp(25px, 1.5vw, 60px);
    padding: 25px 0px;
    a{
        color: black;
        text-decoration: none;
    }
}
.cat-page{
    display: none;
}
@media only screen and (min-width: 600px){
    .titre-top{
        width:85%;
        margin: 4vh auto 0px auto;
        h1{
            width: 85%;
        }
    }
    .main{
        width: 85%;
        margin: 0px auto;
    }
}
@media only screen and (min-width: 1000px){
    .titre-top{
        width:75%;
        margin: 10vh auto 0px auto;
        h1{
            width: 100%;
        }
    }
    .main{
        width: 75vw;
        margin: 0px auto;
        h1{
            width: 100%;
        }
        .main-section{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-row: 35vh;
            gap: $grid-gap;

            article:first-of-type{
                grid-column: 1/4;
                height: 50vh;
                .categorie{
                    margin: 2vh 0px;
                }
                h2{
                    margin: 2vh 0px;
                }
                .the-content{
                    top: -51vh;
                    margin: 0px 0px 0px auto;
                    width: 24%;
                    height: 50vh;
                    .extrait{
                        display: flex;
                        font-size: clamp(16px, 1.1vw, 40px);
                    }
                }
                .temps{
                    top: 46vh;
                }
            }
        }
        .section-secondaire{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.08fr;
            gap: $grid-gap;
            
            .cat-page{
                display: flex;
                height: 50%;
                margin: auto 0px;
                clip-path: polygon(0 0, 50% 50%, 0 100%);
                transition: 0.5s;
                a{
                    display: block;
                    height: 100%;
                    width: 100%;
                    
                }
                &:hover{
                    transform: translateX(5px) scale(1.01);
                }
            }
        }
        .section-tertiaire{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: $grid-gap;

            .sous-section{

                article:first-of-type{
                    height: 55vh;
                    margin-bottom: 40px;
                    .the-content{
                        top: -30vh;
                        .extrait{
                            display: flex;
                            font-size: clamp(16px, 1.01vw, 30px);
                            height: 8.6vh;
                            overflow: hidden;
                        }   
                    }
                    .temps{
                        top: 26vh;
                    }
                }
            }
        }
    }
 
}