header{
    background-color: rgb(218, 37, 37);
    position: fixed;
    z-index: 20;
    top: 0px;
    width: 100vw;
    .menu-burger{
        svg{
            color: white;
            position: fixed;
            top: 5px;
            left: 5vw;
        }
    }
    h1{
        text-align: center;
        font-size: 25px;
        padding: 8px 0px;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .navigation{
        position: fixed;
        //background-color: rgba(0, 0, 0, 0);
        width: 100vw;
        height: 100%;
        transition: 0.7s;
        .background-menu{
            width: 80vw;
            height: 100vh;
            position: absolute;
            padding-right: 5vw;
            box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.315);
            background-color: $couleur-body;
            z-index: 5;
        }
        .section-principale{
            padding-left: 5vw;
        }
        .section-recherche{
            width: 100%;
            padding: 20px 0px 20px 5vw;

            input{
                width: 95%;
                font-size: 18px;
                border: 1px solid rgba(128, 128, 128, 0.37);
                border-radius: $border-radius-secondaire;
                padding: 4px;
            }
        }
        li{
            position: relative;
            z-index: 10;
            list-style: none;
            padding: 5px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.37);
            cursor: pointer;
        }
        a{
            position: relative;
            z-index: 10;
            color: black;
            text-decoration: none;
        }
    }
    .menu-inactif{
        transform: translateX(-100vw);
    }
    .menu-actif{
        //background-color: rgba(32, 24, 1, 0.322);
        transform: translateX(0px);
    }
}
@media only screen and (min-width: 1000px){
    header{
        .menu-burger{
            display: none;
        }
        .navigation{
            color: white;
            transition: 0s;
            transform: translateX(0px);
            width: 100vw;
            height: 6vh;
            .background-menu{
                background-color: rgb(24, 24, 24);
                padding: 0px 20px;
                width: 100%;
                height: 100%;
                display:grid;
                grid-template-columns: 0.2fr 1fr;
                .section-recherche{
                    padding: 0px;
                    display: flex;
                    align-items: center;
                }
                .section-principale{
                    padding: 0px;
                    height: 100%;
                    a{
                        color: white;
                        font-size: clamp(16px, 1vw, 40px);
                        transition: 0.2s;
                    }
                    div{
                        height: 100%;
                        ul{
                            padding: 0px 1vw;
                            height: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            li{
                                border-bottom: none;
                            }
                        }     
                    }
                    h3{
                        display: none;
                    }    
                        
                }
            }
        }
    }
}