.single-article{
    .categorie{
        width: 100vw;
        text-align: center;
        padding: 5px 0px;
        a{
            padding: 0pc 20vw;
            color: $couleur-cover-article-mobile;
            text-decoration: none;
        }
    }
    .thumbnail{
        width: 100vw;
        height: 35vh;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .the-content{
        width: 85vw;
        margin: 0px auto;
        h2{
            margin: 5px 0px;
            font-size: 30px;
        }
        p:first-of-type{
            font-weight: 600;
        }
        p{
            padding: 10px 0px;
            font-size: 19px;
        }
        .temps{
            color: grey;
            width: 85vw;
            border-bottom: 1px solid grey;
        }
    }
} 
@media only screen and (min-width: 600px){
    .single-article{
        margin-top: 3.9vh;
        .categorie{
            padding: 1.1vh 0px;
        }
    }
} 
@media only screen and (min-width: 1000px){
    .single-article{
        width: 50vw;
        margin: 16vh auto 0px auto;
        .categorie{
            width: 100%;
            padding: 10px 0px;
            a{
                font-size: clamp(16px, 1.1vw, 40px);
                padding: 0px 10vw;
            }
        }
        .thumbnail{
            width: 100%;
            height: 45vh;
            overflow: hidden;
        }
        .the-content{
            width: 100%;
            h2{
                margin: 20px 0px;
            }
            p:first-of-type{
                font-size: clamp(17px, 1.2vw, 45px);
                padding: 10px 0px 30px 0px;
            }
            p, li{
                font-size: clamp(16px, 1.12vw, 40px);
            }
        }
    }
} 
