// couleur des categories

$couleur-montreal: rgb(92, 92, 216);
$couleur-politique: rgb(94, 94, 117);
$couleur-affaires: rgb(25, 141, 187);
$couleur-arts: rgb(69, 151, 69);
$couleur-sports: rgb(189, 123, 0);
$couleur-international: rgb(180, 7, 7);
$couleur-environnement: rgb(148, 43, 148);
$couleur-sante: rgb(190, 90, 9);
$couleur-chronique: rgb(155, 69, 43);
$couleur-voyage:  rgb(20, 197, 114);

//font couleurs

$couleur-cover-article-mobile: white;
$couleur-micro-info : rgb(199, 199, 199);

//couleur background

$couleur-body : rgb(241, 241, 241);